#rotate_45{
    background-color: green;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 30%;
    left: 10%;
}

#rotate_45:hover{
    transform:rotate(45deg) ;
    transition: all ease 2s;
}

#rotate_45 p{
    padding: 5px;
}